doctype html
html
	head
		title= title
	body
		img(src='http://www.roket.mx/assets/img/logo.png')
		h1 ¡Exito!
		h3 Prueba realizada
		p Tu aplicación está corriendo
		p Petición realizada desde #{ip}
